@charset "utf-8";

// Define defaults for each variable.

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:200');
@import 'variables';
@import 'global-mixins';

//------------------------------------------
//  s01.00 – Resets and Global
//    s01.01 Resets
//    s01.02 Global Styles
//    s01.03 Tables
//
//  s02.00 – Images
//    s02.01 – Styles
//
//  s03.00 – Lists and Other Typography
//    s03.01 – List formatting
//    s03.02 – small, fig, legend, etc.
//    s03.03 - padding
//
//  s04.00 – Navigation
//    s04.01 – Navbar
//    s04.02 – Footer
//
//  s05.00 – Links, buttons
//
//  s06.00 – Padding
//------------------------------------------

//------------------------------------------
//  s01.00 – Resets and Global
//------------------------------------------
//
//    s01.01 Resets

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  @include rem('padding-bottom', $line-height-unit);
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

form {
  padding: 0;
  margin: 0;
}

//  s01.02 Global Styles

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  @include typography;
}

main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));

  margin-right: auto;
  margin-left: auto;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-right: $global-padding-horizontal;
  padding-left: $global-padding-horizontal;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-right: $global-padding-horizontal;
    padding-left: $global-padding-horizontal;
  }
}

/**
 * Clearfix
 */
.wrapper:after,
.footer-col-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

//  s01.03 Tables

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

table th,
table td {
  padding: 10px 15px;
}

table th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9;
}

table td {
  border: 1px solid #e8e8e8;
}

//------------------------------------------
//  s02.00 Images Styles
//------------------------------------------

//  s02.00 Image
img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

// Image styles on case studies layout
.case-studies-images {
  position: relative;
  display: block;

  .img-intro {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    img {
      width: 45rem;
    }
  }
}

//------------------------------------------
//  s03.00 Lists and Other Typography
//------------------------------------------

//  s03.01 – List formatting
ul,
ol {
  margin-left: 30px;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

// s03.02 – Other typography
p.small {
  color: $brand-primary;
  padding-bottom: 0;
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  &.intro-hero-quote {
    color: $text-color;
    border: 0;
    padding: 0;
    font-style: normal;
    letter-spacing: normal;
    font-family: $font-family-display;
    @include rem('font-size', $heading-one-size);
    @include rem('padding-top', $global-padding-vertical);
  }
}

blockquote > :last-child {
  margin-bottom: 0;
}

// heading adjust
.post-title,
.post-header {
  font-weight: 400;
  font-family: $font-family-display;
  @include rem('padding', $global-padding-horizontal 0);
}

// s03.03 - paddding

// overall padding
.article-inner,
.page-content,
.projects {
  @include rem('padding', $article-content-padding 0);
  position: relative;
}

.lede,
p,
.header {
  @include rem('padding-bottom', $line-height-unit);
}

// padding for groups of text
.section-inner {
  @include rem('padding-bottom', #{$line-height-unit});
}

.work .projects {
  @include rem('padding-bottom', 200px);
}

ul li,
ol li,
dl dd {
  @include rem('padding-bottom', $line-height-unit);
}

//------------------------------------------
//  s04.00 Navigation
//------------------------------------------

//  s04.01 Navbar

.site-header {
  border-top: 5px solid $brand-primary;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10000;
}

.site-title {
  @include rem('font-size', $heading-two-size);
  font-weight: 300;
  line-height: 55.95px;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-align: left;
}

.site-title,
.site-title:visited {
  color: #424242;
}

.site-nav {
  line-height: $line-height-unit;
  @include rem('padding-top', $article-content-padding);
  a {
    @include rem('margin-right', $line-height-unit);
  }
}

.site-nav .page-link {
  color: $text-color;
  line-height: 1.5;

  &:hover,
  &:active {
    color: $brand-primary;
  }
}

//  s04.02 Footer
.site-footer {
  background: #fff;

  .social-icon svg {
    fill: $brand-primary;
    &:hover,
    &:active {
      fill: $brand-secondary;
    }
  }
  .skills {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: $bg-dark;
    .skills-inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1rem 2rem;
      ul {
        list-style: none;
      }
    }
  }

  .footer-bottom {
    @include rem('padding-top', 200px);
    @include rem('padding-bottom', 100px);
    @include grid-50;
  }
}

//------------------------------------------
//  s5.00 – Links, Buttons, social icons
//------------------------------------------
a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: $brand-primary;
    text-decoration: underline;
  }
  &:active,
  &:focus {
    color: $brand-primary;
    text-decoration: underline;
  }
  &:visted {
    color: #1756a9;
  }
}

.social-media-list a:hover {
  text-decoration: none;
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

// Buttons
button {
  @include buttons;
}

.btn-primary {
  @include btn-primary;
}

.btn-secondary {
  //@include btn-secondary;
}

.btn-tertiary {
  //@include btn-tertiary;
}

.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

.site-link,
.page-link,
.site-title {
  color: $brand-primary;
  position: relative;
  transition: all 0.2s ease;
  text-transform: lowercase;
  display: inline;

  &:after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    right: 50%;
    height: 1px;
    background: $brand-secondary; // system color
    @include transition(all ease 0.2s);
  }
  &:hover,
  &:active,
  &:focus {
    color: $brand-secondary;
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background: $brand-secondary;
    }
  }
}

// ------------------------------------------
// s06.00 Sections
// ------------------------------------------

// s06.01 HP Sections

// home page intro
.intro-hero {
  background: $bg-light;
  .intro-hero-header {
    @include rem('padding', $global-padding-horizontal 0);
  }
  article {
    @include grid-50;
  }
  // special case
  .intro-hero-header {
    font-family: $font-family-base;
    font-size: $heading-two-size;
  }
  .intro-content {
    font-size: $font-paragraph-size;
  }
}

// hp layout
.projects {
  .hp-mockup {
    @include rem('height', 430px);
    overflow: hidden;
    z-index: 2000;
    position: relative;
    background: #f5f5f5;
    border: 5px solid #f5f5f5;
    box-shadow: 14px 16px 50px 0 rgba(38, 27, 44, 0.1);
    img {
      max-width: none;
    }
  }

  &:nth-child(odd) {
    .hp-mockup {
      box-shadow: -14px 16px 50px 0 rgba(38, 27, 44, 0.1);
    }
    .article-inner {
      text-align: left;
    }
    .intro-content {
      padding-right: 0;
      border-right: 0;
      padding-left: 3rem;
      border-left: 0.3rem solid $brand-primary;
    }
  }
}

div[class^='coffee-bean'] {
  position: relative;
  display: block;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  img {
    max-width: none;
    position: absolute;
  }
}
.dogwood {
  height: 100%;
  position: relative;
  display: block;
  @media screen and (min-width: 590px) {
    //top: -15%;
  }
}
svg.dogwood {
  @include rem('min-width', 500px);
  @include rem('height', 500px);
  position: relative;
  z-index: 10;
  min-height: 100%;
  width: 100%;
}

.coffee-bean-1 img {
  right: 0;
  @include rem('top', -10px);
}

.coffee-bean-2 img {
  @include rem('right', -100px);
  @include rem('top', 150px);
  //right: -10rem;
  //  top: 15rem;
}

.coffee-bean-3 img {
  @include rem('top', 300px);
  //top: 30rem;
}

.coffee-bean-4 img {
  //top: 45rem;
  //right: -5rem;
  @include rem('top', 450px);
  @include rem('right', -50px);
}

.coffee-bean-5 img {
  //top: 60rem;
  @include rem('top', 600px);
}

.projects {
  .coffee-bean-2 img {
    //top: -10rem;
    //left: 10rem;
    @include rem('top', -100px);
    @include rem('left', 100px);
  }

  .coffee-bean-3 img {
    //top: 10rem;
    left: 0;
    @include rem('top', 100px);
  }

  .coffee-bean-5 img {
    //top: 20rem;
    //left: 10rem;
    @include rem('top', 200px);
    @include rem('left', 100px);
  }
}

// projects listing, including internal posts to see website
.projects {
  background: $bg-medium;
  article {
    @include grid-50;
  }
  .intro-content {
    padding-right: 3rem;
    border-right: 0.3rem solid $brand-primary;
  }
  .article-inner {
    text-align: right;
  }
}

// s06.02 Internal Page sections

// internal pages for case studies
.see-website {
  overflow: hidden;
  position: relative;
  background: $bg-dark;
  @include rem('margin', $global-padding-vertical 0);
}

.case-studies {
  .case-studies-intro,
  .see-website article {
    @include grid-50;
  }
}

// Internal page set up

//smaller related Images
.grid-container {
  //padding: $global-padding-horizontal;

  /* Grid Fallback is this still needed?*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: $global-padding-vertical;

  /* Supports Grid */
  display: grid;
  -ms-grid-template-columns: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $line-height-unit;

  // change the rem number to achieve final number of cards in column
  @media screen and (min-width: 767px) {
    -ms-grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.grid-item {
  position: relative;
  width: 100%;
  @include rem('height', 430px);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .middle {
    opacity: 0;
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 100%;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    transform: translateY(25%);
    margin: 0 $global-padding-horizontal;
  }

  .small {
    text-transform: uppercase;
    position: relative;
    width: 100%;
  }
  &:hover,
  &:active,
  &:focus {
    img {
      opacity: 0.1;
    }
    .middle {
      opacity: 1;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
    }

    .img-container {
      transform: scale(1.1);
    }
  }
}

.img-container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: transform 0.35s;
  transition: transform 0.35s;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 100px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
