@charset "utf-8";

// Define defaults for each variable.

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:200');
@import 'variables';
@import 'global-mixins';

//------------------------------------------
//  s01.00 – Resets and Global
//    s01.01 Resets
//    s01.02 Global Styles
//    s01.03 Tables
//
//  s02.00 – Images
//    s02.01 – Styles
//
//  s03.00 – Lists and Other Typography
//    s03.01 – List formatting
//    s03.02 – small, fig, legend, etc.
//    s03.03 – links
//
//  s04.00 – Navigation
//    s04.01 – Navbar
//    s04.02 – Footer
//
//  s05.00 – Links, buttons
//
//  s06.00 – Forms
//------------------------------------------

//------------------------------------------
//  s01.00 – Resets and Global
//------------------------------------------
//
//    s01.01 Resets

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  @include rem('padding-bottom', $line-height-unit);
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

form {
  padding: 0;
  margin: 0;
}

//  s01.02 Global Styles

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  @include typography;
  scroll-behavior: smooth;
}

main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));

  margin-right: auto;
  margin-left: auto;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-right: $global-padding-horizontal;
  padding-left: $global-padding-horizontal;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-right: $global-padding-horizontal;
    padding-left: $global-padding-horizontal;
  }
}

/**
 * Clearfix
 */
.wrapper:after,
.footer-col-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

//  s01.03 Tables

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

table th,
table td {
  padding: 10px 15px;
}

table th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9;
}

table td {
  border: 1px solid #e8e8e8;
}

//------------------------------------------
//  s02.00 Images Styles
//------------------------------------------

//  s02.00 Image
img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

//------------------------------------------
//  s03.00 Lists and Other Typography
//------------------------------------------

//  s03.01 – List formatting
ul,
ol {
  margin-left: 30px;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

// s03.02 – Other typography
p.small {
  color: $brand-primary;
  padding-bottom: 0;
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

//------------------------------------------
//  s04.00 Navigation
//------------------------------------------

//  s04.01 Navbar

.site-header {
  border-top: 5px solid $brand-primary;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10000;
}

.site-title {
  @include rem('font-size', $heading-two-size);
  font-weight: 300;
  line-height: 55.95px;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-align: left;
}

.site-title,
.site-title:visited {
  color: #424242;
}

.site-nav {
  line-height: $line-height-unit;
  @include rem('padding-top', $article-content-padding);
  a {
    @include rem('margin-right', $line-height-unit);
  }
}

.site-nav .page-link {
  color: $text-color;
  line-height: 1.5;

  &:hover,
  &:active {
    color: $brand-primary;
    cursor: pointer;
  }
}

//  s04.02 Footer
.site-footer {
  background: #fff;

  .social-icon svg {
    fill: $brand-primary;
    &:hover,
    &:active {
      fill: $brand-secondary;
    }
  }
  .skills {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: $bg-dark;
  }
  .footer-bottom {
    @include rem('padding-top', 200px);
  }
}

//------------------------------------------
//  s5.00 – Links, Buttons
//------------------------------------------
a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: $brand-primary;
    text-decoration: underline;
  }
  &:active,
  &:focus {
    color: $brand-primary;
    text-decoration: underline;
  }
  &:visted {
    color: #1756a9;
  }
}

.social-media-list a:hover {
  text-decoration: none;
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

// Buttons
button {
  @include buttons;
}

.btn-primary {
  @include btn-primary;
}

.btn-secondary {
  //@include btn-secondary;
}

.btn-tertiary {
  //@include btn-tertiary;
}

.post-title,
.post-header {
  font-weight: 400;
  font-family: $font-family-display;
  @include rem('padding', $global-padding-horizontal 0);
}

.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

// ------------------------------------------
// s02.00
// ------------------------------------------
// overall padding on article sections
.article-inner,
.page-content,
.projects {
  @include rem('padding', $article-content-padding 0);
  position: relative;
}

.lede,
p,
.header {
  @include rem('padding-bottom', $line-height-unit);
}

// padding for groups of text
.section-inner {
  @include rem('padding-bottom', #{$line-height-unit});
}

.grid-50 {
  @include grid-50;
  @include rem('padding-bottom', 200px);
}

.intro-hero {
  @include rem('padding', $article-content-padding-large 0);
}

// HP Sections

.skills {
  .skills-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem 2rem;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

// home page intro
.intro {
  background: $bg-light;
  overflow: hidden;
  .intro-header {
    font-size: $heading-one-size;
  }
  .intro-content {
    font-size: $font-paragraph-size;
  }
}

.page-link {
  color: $brand-primary;
  position: relative;
  transition: all 0.2s ease;
  text-transform: lowercase;

  &:after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    right: 50%;
    height: 1px;
    background: $brand-secondary; // system color
    @include transition(all ease 0.2s);
  }
  &:hover,
  &:active {
    color: $brand-secondary;
    text-decoration: none;
    &:after {
      left: 0;
      right: 0;
      height: 2px;
    }
  }
}

.projects {
  background: $bg-medium;

  .intro-content {
    padding-left: 3rem;
    border-left: 0.3rem solid $brand-primary;
  }
  .hp-mockup {
    @include rem('height', 430px);
    background: #f5f5f5;
    border: 5px solid #f5f5f5;
    box-shadow: 14px 16px 50px 0 rgba(38, 27, 44, 0.1);
    &:nth-child(odd) {
      box-shadow: -14px 16px 50px 0 rgba(38, 27, 44, 0.1);
    }
  }

  &:nth-child(even) {
    text-align: right;
    .intro-content {
      padding-left: 0rem;
      padding-right: 3rem;
      border-left: 0;
      border-right: 0.3rem solid $brand-primary;
    }
  }
}

.contact {
  .hide,
  .cloak div,
  .cloak span,
  .likert.cloak tbody,
  .likert.cloak thead {
    display: none !important;
  }
  .likert.cloak table {
    border: none;
  }
}

.see-case-study {
  overflow: hidden;
  padding: 10rem 0;
  position: relative;
  article {
    border-top: 5px solid $brand-primary;
    border-bottom: 5px solid $brand-primary;
  }
}

.case-studies {
  p {
    @include rem('padding-bottom', $line-height-unit);
  }
}
.case-studies-images {
  position: relative;
  display: block;

  .img-intro {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    img {
      width: 45rem;
    }
  }
}

// Internal page set up

.internal-page,
.page-content {
  overflow: hidden;
}
