<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">

    <div class="wrapper">
      <header class="post-header">
        <h1 class="post-title">Projects</h1>
      </header>
    </div>

    <section class="projects">
      <div class="wrapper">
        <article>
          <div class="placeholder">
            <img></img>
          </div>
          <div class="article-inner">
            <p class="small">FRONT END DEVELOPMENT</p>
            <header class="intro-header">
              <h2 class="header">style framework for Hikashop extension</h2>
            </header>
            <div class="intro-content">
              <p>I build websites and write code based on the ability to reuse, and make it a goal to allow the user to have a great experience</p>
              <a href="/hikashop-extension/" target="_self" class="page-link">see more</a>
            </div>
          </div>
        </article>
      </div>
    </section>

    <section class="projects">
      <div class="wrapper">
        <article>
          <div class="grid-50">
            <div class="article-inner">
              <p class="small">UI DESIGN & FRONT END DEVELOPMENT</p>
              <header class="intro-header">
                <h2 class="header">technology and cloud services company</h2>
              </header>
              <div class="intro-content">
                <p>from visual design to client and development presentations, you can find all of my design work matched with a complete front end framework for design consistantcy</p>
                <a href="#" target="/design-dev/" class="page-link">see more</a>
              </div>
            </div>
            <div class="placeholder">
              <img></img>
            </div>
          </div>
        </article>
      </div>
    </section>

  <section class="projects">
    <div class="wrapper">
      <article>
        <div class="grid-50">
          <div class="placeholder">
            <img></img>
          </div>
          <div class="article-inner">
            <p class="small">DIGITAL DESIGN</p>
            <header class="intro-header">
              <h2 class="header">responsive emails</h2>
            </header>
            <div class="intro-content">
              <p>blending code and design seamlessly for anyone looking to market their services</p>
              <a href="/responsive-emails/" target="_self" class="page-link">see more</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>




</main>

    {% include footer.html %}

  </body>
</html>
