<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <article class="internal-page case-studies">
        <section class="intro intro-hero">
          <div class="wrapper">
            <div class="article-inner">
              <header class="intro-header">
                <h1 class="header">Hikashop Extension</h1>
              </header>
              <div class="intro-content">
              <p class="lede">Create a front end framework for the e-commerce extension used in Joomla CMS. It must be styled and developed to be reused easily and adapt effortlessly to updates and extensions.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="projects case-studies">
          <div class="wrapper">
            <article>
              <div class="overview">
                <p class="small">GOALS</p>
                <div class="intro-content">
                  <ul>
                    <li>Create a visual style and design system that allows the complexity of the cart to be simple to use for any shopper</li>
                    <li>Write maintainable code that is able to override unnecessary styles injected by the extension, withouth sacraficing the structrual integrity</li>
                    <li>Easily change styles and customize based on the cient’s needs</li>
                  </ul>
                </div>
              </div>
              <div class="overview">
                <p class="small">CLIENT</p>
                  <div class="intro-content">
                    <p>enCOMPASS Advertising Agengy & Father’s House Ghana</p>
                  </div>
                <p class="small">RESPONSIBILITIES</p>
                  <div class="intro-content">
                    <p>Planning, UI Design, frontend development</p>
                  </div>
              </div>
            </article>
          </div>
        </section>


        <section class="projects see-case-study">
          <div class="wrapper">
            <article>
              <div class="article-inner">
                <header class="intro-header">
                  <h2 class="header">SEE IT IN ACTION</h2>
                </header>
                <div class="intro-content">
                  <p>Father’s House Ghana, a non-profit that provides community services and a shelter for rescued child slaves, uses the shopping cart to sell shea butter products to raise funds for their safe haven.</p>
                </div>
                <a href="/responsive-emails/" target="_self" class="page-link">view site</a>
              </div>

              <div class="case-studies-images">
                <div class="img-intro">
                  <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1533688380/hikashop-iphone-mackbook.png" alt="mobile phone and laptop mockup of shopping cart checkout">
                </div>
              </div>
            </article>
          </div>
        </section>

        <section>
          <article>
            <div class="wrapper">
              <div class="article-inner">
                <header class="intro-header">
                  <h2 class="header">Planning & Research</h2>
                </header>
                  <p>The first thing that I learned was that Hikashop’s demo site of their product uses a custom theme that is an additional purchase. Everything I knew by inspecting the styles no longer had any reign on what I had to work on.</p>
                  <p>  The overwhelming amount of tables and code structures that changed per page, per situation, caused me to pause and make sure I was able to group similar instances to target them and provide a foundation of consistency.</p>

                <div class="case-studies-images">
                  <div class="img-intro">
                    <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1532883376/Case%20Studies/hikashop-iphone-mackbook.png">
                  </div>
                </div>

                <p>Besides the actual shopping cart experience, I also had to account for the checkout process and the shopper’s personal account. Account holders will be able to update their preferences, view previous orders, re-order from pervious purchases, and even create a cart with orders to save for later.</p>
              </div>

              <div class="article-inner">
                <header class="intro-header">
                  <h2 class="header">Design Phase & The Nightmare CSS</h2>
                </header>
                <p>I was working with both the design and frontend development of this extension, so I knew right away I had to work within the confines of the structure given to me from the Hikashop extension. The reason for this was because they are constantly updating their extension and files, either adding more functionality or even changing/adding new class names.</p>
                <p>Overriding the default styles that came with the extension was delicate work. It seemed like there were a lot of quick fixes and very targetd code written for a specific piece. However, that same piece in a different place that should have been styled the same, had entirely different code and styles applied to it. Not to mention, the number of importants! that seemed to riddle the code left me frustrated and looking for the best way to make a cohesive framework.</p>
                <div class="case-studies-images">
                  <div class="img-intro">
                    <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1532883376/Case%20Studies/hikashop-iphone-mackbook.png">
                  </div>
                </div>
                <div class="grid-50">

                  <p>From the design standpoint, I had to go back to basics and make the tables responsive, and find the best way to communicate the right information across all devices. I chose to create a card format that divided the content logically, and visually. I wanted to make sure that shoppers understood what part of the checkout process they were in, as well as allow important information, such as price, stand out at a glance.</p>
                  <div class="case-studies-images">
                    <div class="img-intro">
                      <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1532883376/Case%20Studies/hikashop-iphone-mackbook.png">
                    </div>
                  </div>
                </div>
              </div>

              <div class="article-inner">
                <header class="intro-header">
                  <h2 class="header">Frontend Development</h2>
                </header>
                <p>I mentioned the amount of importants and inconsitent styling right off the bat, but it was one thing to create a visual design and another to implement that in the less style sheets. First, I decided to start with the overrides to get rid of all of the table styles, and assigned the correct typography mixins to the contents contained within them.</p>
                <p>After the resets, I needed to create consistant styling for all of the tables.</p>
                <div class="case-studies-images">
                  <div class="img-intro">
                    <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1532883376/Case%20Studies/hikashop-iphone-mackbook.png">
                  </div>
                </div>

                <p>Hikashop also created their own version of Bootstrap-like columns, and I decided to override those because I was afraid in updates they might change the related media queries and I didn’t want to rely on those. On top of that, when we update to Joomla 4 (exclusively using Bootstrap 4), I wanted to make sure moving forward that the framework I implemented would work easily when I have to convert all less sheets to scss. I decided to use the exciting new css grid feature, with a flex fallback. I was able to put all of the product listing cards, internal product page galleries, and forms into this structure. </p>

              <div class="case-studies-images">
                <div class="img-intro">
                  <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1532883376/Case%20Studies/hikashop-iphone-mackbook.png">
                </div>
              </div>
            </div>

            <div class="article-inner">
              <header class="intro-header">
                <h2 class="header">Where it Stands</h2>
              </header>
                <p>As of now, everything is still working and none of the updates have effected the styles on the frontend. Any client requesting a shopping cart will now easily be able to have this cart with the available features, and easily update colors, fonts, and additional styles to make it their own unique cart.</p>
            </div>
          </div>
        </article>
      </section>
      
    </article>
  </main>

    {% include footer.html %}

  </body>
</html>
