<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body ontouchstart="">
  {% include header.html %}
    <main class="page-content" aria-label="Content">
      <article class="internal-page">
        <div class="wrapper">

          <div class="intro">
            <h1 class="header">Development</h1>
            <div class="intro-content">
              <p class="lede">Below are some personal projects I've been working on to grow my skills using JavaScript and React.</p>
            </div>
          </div>
          </div>

          <section class="see-website">
            <div class="wrapper">
              <div class="projects">
                <div class="internal-callout">
                  <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1554924022/project-newsapp.jpg" alt="news app">
                </div>
                <div class="page-content">
                  <p class="small">SEE IT IN ACTION</p>
                  <h2 class="header">News Source App</h2>
                  <div class="intro-content">
                    <p>Small project using the newsapi.org API to fetch the top 10 articles. Upon the initial load, it displays the top articles from all the sources, until a new source is requested. Some items still requiring attention include what if the API doesn't load, and other failsafes.</p>
                    <a href="https://agitated-meitner-710247.netlify.com/" target="_blank" rel="noopener noreferrer" class="page-link">view site</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="work">
            <div class="wrapper">
              <article class="projects">
                  
                    <a href="/hikashop-extension/" target="_self">
                      <div class="hp-mockup">
                        <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535540583/Hikashop-mockup.png" alt="Hikashop styling organization">
                      </div>
                    </a>
                    <div class="page-content rellax">
                      <h2 class="small">FRONTEND DEVELOPMENT</h2>
                      <h3 class="project-desc">framework for Hikashop extension</h3>
                        <div class="intro-content">
                          <p>A shopping cart framework with code that was flexible but could withstand extension updates and modifications from the client.</p>
                          <a href="/hikashop-extension/" target="_self" class="page-link"><span>see more</span></a>
                        </div>
                      </div>
                
          
                </article>
              </div>

          </section>

          


          <div class="wrapper">
          <div class="back-home">
            <a href="https://www.christinehellman.com" target="_self"><button class="btn-primary">return home</button></a>
          </div>
        </div>
        </article>
      </main>

    {% include footer.html %}

  </body>
</html>
