<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body ontouchstart="">
  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <article class="internal-page featured-project">
        <section class="intro intro-hero">
          <div class="wrapper">
            <div class="article-inner">
              <header class="intro-header">
                <h1 class="header">SBT Partners</h1>
              </header>
              <div class="intro-content">
              <p>Create a modern, clutter-free website that promotes the technology solutions they offer, as well as featuring their explanatory videos.<p>
              </div>
            </div>
          </div>
        </section>

        <section class="case-studies">
          <div class="wrapper">
            <article class="case-studies-intro">
              <div class="overview">
                <p class="small">GOALS</p>
                <div class="intro-content">
                  <ul>
                    <li>Reduce, and rewrite the copy describing what they do</li>
                    <li>Feature their videos on as many pages as possible</li>
                    <li>Increase whitespace, and brighten the feel of their website</li>
                  </ul>
                </div>
              </div>
              <div class="overview">
                <p class="small">RESPONSIBILITIES</p>
                  <div class="intro-content">
                    <p>Planning, UI Design, frontend development</p>
                  </div>
              </div>
            </article>
          </div>
        </section>


        <section class="projects see-website">
          <div class="wrapper">
            <article>
              <div class="internal-images">
                <div class="img-intro">
                  <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535540583/SBT-mockup.png" alt="mobile phone and laptop mockup of featured website">
                </div>
              </div>
              <div class="article-inner">
                <div class="featured">
                <p class="small">SEE IT IN ACTION</p>
                <header class="intro-header">
                  <h2 class="header">SBT Partners</h2>
                </header>

                <div class="intro-content">
                  <p>SBT Partners is a “Technology as a Service” company, that provides cloud services and solutions in the way you use and pay for your utilities. You bundle the services you need, and only pay for what you use. They also provide consulting services to increase IT efficiency and help companies plan for the future.</p>
                  <a href="https://www.sbtpartners.com/" target="_blank" class="page-link">view site</a>
                </div>
              </div>
              </div>


            </article>
          </div>
        </section>

        <section>
            <div class="wrapper">
              <div class="article-inner">
                <header class="intro-header">
                  <h2 class="header">DESIGN</h2>
                </header>
                  <p>The first thing that I learned was that Hikashop’s demo site of their product uses a custom theme that is an additional purchase. Everything I knew by inspecting the styles no longer had any reign on what I had to work on.</p>

                <div class="internal-images gallery-container">
                  <div class="grid-container">
                    <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535674778/01-colors.jpg">
                    <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535674778/02-typography.jpg">
                    <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535674778/03-btns.jpg">
                  </div>
                </div>
              </div>
          </div>
      </section>

      <section>
          <div class="wrapper">
            <div class="article-inner">
              <header class="intro-header">
                <h2 class="header">DEVELOPMENT</h2>
              </header>
                <p>I loved working on the development of this site, because it was so different from the image heavy sites I normally work on. I enjoyed brining backgrounds to life with a little css, which I found to be very delightful. I feel like on this site I was really able to creatively express the ideas of this company through a modern design.</p>

              <div class="internal-images gallery-container">
                <div class="grid-container">
                  <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535678719/sbt-screen.gif">

                </div>
              </div>
            </div>
        </div>
    </section>
      <div class="wrapper back-home">
        <a href="https://www.christinehellman.com" target="_self"><button class="btn-primary">return home</button></a>
      </div>
    </article>
  </main>

    {% include footer.html %}

  </body>
</html>
