<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body ontouchstart="">
  {% include header.html %}



    <main class="page-content" aria-label="Content">

    <!--<div class="wrapper site-nav">
        <nav>
          <a class="page-link btn js-btn">About</a><a class="page-link btn js-btn">Projects</a><a class="page-link btn js-btn">Contact</a>
        </nav>
      </div>-->


    <section class="intro-hero">
      <div class="wrapper">
        <article>
          <div class="article-inner">

            <div class="intro-text">
              <blockquote class="intro-hero-quote">The higher the mountain, the better the view.</blockquote>

              <div class="intro-content">
                <h1 class="intro-hero-header">I am Christine Hellman & I'm a designer & frontend developer based in Huntersville, NC.</h1>
                <p>Completely inspired by the challenges design and development bring, I love to problem solve and bring my work to life. </p>
                <a href="https://res.cloudinary.com/dddf3iwqv/image/upload/v1534979825/chellman-resume-2018.pdf" target="_blank"><button class="btn-primary">resume</button></a>
              </div>
            </div>

          </div>

          <div class="hero-intro-svgs">
            <div class="coffee-bean-1 rellax">
              <img src="/assets/svg/coffeebeans/coffee-bean-1.svg">
            </div>
            <div class="coffee-bean-2 rellax">
              <img src="/assets/svg/coffeebeans/coffee-bean-2.svg" alt="Coffee bean">
            </div>
            <div class="coffee-bean-3 rellax">
              <img src="/assets/svg/coffeebeans/coffee-bean-3.svg" alt="Coffee bean">
            </div>
            <div class="coffee-bean-4 rellax">
              <img src="/assets/svg/coffeebeans/coffee-bean-4.svg" alt="Coffee bean">
            </div>
            <div class="coffee-bean-5 rellax">
              <img src="/assets/svg/coffeebeans/coffee-bean-5.svg" alt="Coffee bean">
            </div>

            <div class="dogwood">
              <svg class="dogwood">
                <use xlink:href="/assets/svg/dogwood.svg#dogwood">
                </use>
              </svg>
            </div>

            <div class="blueberry">
              <img src="/assets/svg/blueberry.svg" alt="Blueberry bunch">
            </div>
          </div>
        </article>
      </div>
    </section>


    <div class ="work">


      <section class="projects">
        <div class="projects-coffee-beans">
          <div class="coffee-bean-2 rellax">
            <img src="/assets/svg/coffeebeans/coffee-bean-2.svg" alt="Coffee bean">
          </div>
          <div class="coffee-bean-3 rellax">
            <img src="/assets/svg/coffeebeans/coffee-bean-3.svg" alt="Coffee bean">
          </div>

          <div class="coffee-bean-5 rellax">
            <img src="/assets/svg/coffeebeans/coffee-bean-5.svg" alt="Coffee bean">
          </div>
        </div>
        <div class="wrapper">
          <article>
            <a href="/hikashop-extension/" target="_self">
              <div class="hp-mockup">
                <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535306333/project_Hikashop.jpg" alt="Hikashop styling organization">

              </div>
            </a>
            <div class="article-inner rellax">
              <p class="small">FRONTEND DEVELOPMENT</p>
              <header class="intro-header">
                <h2 class="header">framework for Hikashop extension</h2>
              </header>
              <div class="intro-content">
                <p>A shopping cart framework with code that was flexible but could withstand extension updates and modifications from the client.</p>
                <a href="/hikashop-extension/" target="_self" class="page-link"><span>see more</span></a>
              </div>
            </div>
          </article>
        </div>
      </section>

      <section class="projects">

        <div class="wrapper">
          <article>
            <div class="article-inner rellax">
              <p class="small">UI DESIGN & FRONTEND DEVELOPMENT</p>
              <header class="intro-header">
                <h2 class="header">technology and cloud services company</h2>
              </header>
              <div class="intro-content">
                <p>from visual design to client and development presentations, you can find all of my design work matched with a complete frontend framework for design consistantcy</p>
                <a href="/sbt-partners/" target="_self" class="page-link">see more</a>
              </div>
            </div>
            <a href="/sbt-partners/" target="_self">
              <div class="hp-mockup">
                <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535306332/HP-Mockup_SBT-Partners.jpg" alt="SBT Partner's home page hero graphic">
              </div>
            </a>
          </article>
        </div>
      </section>



      <section class="projects">
        <div class="projects-coffee-beans">
          <div class="coffee-bean-2 rellax">
            <img src="/assets/svg/coffeebeans/coffee-bean-2.svg" alt="Coffee bean">
          </div>
          <div class="coffee-bean-3 rellax">
            <img src="/assets/svg/coffeebeans/coffee-bean-3.svg" alt="Coffee bean">
          </div>

          <div class="coffee-bean-5 rellax">
            <img src="/assets/svg/coffeebeans/coffee-bean-5.svg" alt="Coffee bean">
          </div>
        </div>
        <div class="wrapper">
          <article>
            <a href="/all-work/" target="_self">
              <div class="hp-mockup">
                <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1535306859/all_email.jpg" alt="Email preview of additional design work">
              </div>
            </a>
            <div class="article-inner rellax">
              <p class="small">SEE ALL WORK</p>
              <header class="intro-header">
                <h2 class="header">all.the.things. because I love learning</h2>
              </header>
              <div class="intro-content">
                <p>Above I focused in on two very specific projects. On this page you’ll see the rest of my design, development, and creative works.</p>
                <a href="/all-work/" target="_self" class="page-link"><span><span>see more</span></span></a>
              </div>
            </div>
          </article>
        </div>
      </section>
    </div>

  </main>

    {% include footer.html %}
    <!-- <script type="text/javascript" src="assets/javascript.js"></script>-->
          <!-- javascript -->
    <script type="text/javascript" src="/assets/rellax.js"></script>
    <script>
    // Also can pass in optional settings block
var rellax = new Rellax('.rellax', {
  speed: -2,
  center: true,
  wrapper: null,
  round: true,
  vertical: true,
  horizontal: false
});
</script>
  </body>
</html>
