<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">


    <section class="intro intro-hero js-section">
      <div class="wrapper">
        <article>
          <div class="grid-50">
          <div class="article-inner">
          <div class="intro-text">
          <header class="intro-header">
            <h1 class="header">Hi, hello, hey!</h1>
          </header>

          <div class="intro-content">
            <h2 class="header">I am Christine Hellman & I'm a front end developer and digitial designer based in Huntersville, NC.</h2>
            <p>Completely inspired by the challenges design and development bring, I love to problem solve and bring my work to life. </p>
            <a><button class="btn-primary">resume</button></a>
          </div>
        </div>

      </article>
      </div>
    </div>
  </div>
  </section>



  <section class="projects js-section">
    <div class="wrapper">
      <article>
        <div class="grid-50">
          <div class="hp-mockup-1">
            <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1533688380/hikashop-iphone-design-phase.png" alt="Shopping cart mockup on mobile phone"></img>
          </div>
          <div class="article-inner rellax">
            <p class="small">FRONT END DEVELOPMENT</p>
            <header class="intro-header">
              <h2 class="header">framework for Hikashop extension</h2>
            </header>
            <div class="intro-content">
              <p>I build websites and write code based on the ability to reuse, and make it a goal to allow the user to have a great experience</p>
              <a href="/hikashop-extension/" target="_self" class="page-link"><span>see more</span></a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="projects">
    <div class="wrapper">
      <article>
        <div class="grid-50">
          <div class="article-inner rellax">
            <p class="small">UI DESIGN & FRONT END DEVELOPMENT</p>
            <header class="intro-header">
              <h2 class="header">technology and cloud services company</h2>
            </header>
            <div class="intro-content">
              <p>from visual design to client and development presentations, you can find all of my design work matched with a complete front end framework for design consistantcy</p>
              <a href="/design-dev/" target="_self" class="page-link">see more</a>
            </div>
          </div>
          <div class="hp-mockup-2">
            <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1533688380/hikashop-iphone-design-phase.png" alt="mockup of SBT Partners on devices"></img>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="projects">
    <div class="wrapper">
      <article>
        <div class="grid-50">
          <div class="hp-mockup-3">
            <img src="https://res.cloudinary.com/dddf3iwqv/image/upload/v1533688380/hikashop-iphone-design-phase.png" alt="images of other digital design work"></img>
          </div>
          <div class="article-inner rellax">
            <p class="small">DIGITAL DESIGN</p>
            <header class="intro-header">
              <h2 class="header">responsive emails</h2>
            </header>
            <div class="intro-content">
              <p>blending code and design seamlessly for anyone looking to market their services</p>
              <a href="/responsive-emails/" target="_self" class="page-link"><span><span>see more</span></span></a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>

</main>

    {% include footer.html %}
    <script type="text/javascript" src="assets/javascript.js"></script>
    <!-- javascript -->
    <script type="text/javascript" src="/assets/rellax.js"></script>
    <script>
      // Also can pass in optional settings block
      var rellax = new Rellax('.rellax', {
        speed: -2,
        center: true,
        wrapper: null,
        round: true,
        vertical: true,
        horizontal: false
      });
    </script>
  </body>
</html>
